@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div style="margin-left: 1%; width: 980px;">
    <!-- logo -->
    <div style="padding: 10px 0px;">
        <div class="inner">
            <div style="height: 240px;">
                <img src="~/Content/imgs/site_icon.png" title="logo" style="width: 100%; height: 100%;" />
            </div>
        </div>
        <div class="inner" style="text-align: center; text-shadow: 1px 5px rgb(221, 233, 244);">
            <p style="font-family: 'Century Gothic'; font-size: 15px">Добро пожаловать в ShopAll!</p>
        </div>
    </div>
    <!-- about -->

    <div style="top: 130%; width: inherit; left: 20px;">
        <!-- "О нас" надпись-->
        <div style="margin-top: 20px; margin-bottom: 10px; border-bottom: double; width:70px;">
            <h2>О нас</h2>
        </div>
        <!-- слева: о компании, какие услуги представляет ... -->
        <div style="margin-top: 8%; width: 45%; float:left;">
            <p class="about_font">
                Мы предлагаем услуги по продаже и покупке... 
                            Компания была создана группой друзей в 2010 году в городе Киев... 
                            С 2015 года компания вышла на всемирный рынок. И уже в скором времени Вы сможете делать покупки во многих странах мира...
                            Неограниченый список товаров который являеться достопримечательностью нашей компании...
            </p>
        </div>
        <!-- справа: картинка какая-то -->
        <div style="display: inline-block; left: 50%;">
            <img src="~/Content/imgs/main_icon.png" />
        </div>
    </div>
</div>
